In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [166]:
titanic = sns.load_dataset("titanic")
data=titanic

In [136]:
data.dropna(axis=0,inplace=True)

In [167]:
data.drop(['adult_male','class'],axis=1,inplace=True)

In [168]:
X=data.iloc[:,1:-3]
y=data.iloc[:,0:1]

In [169]:
X.head(1)

   pclass   sex   age  sibsp  parch  fare embarked  who deck
0       3  male  22.0      1      0  7.25        S  man  NaN

In [170]:
y.sample(2)

     survived
432         1
408         0

In [171]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=0, shuffle=True)

In [172]:
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder,LabelEncoder,StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer,make_column_transformer
from sklearn.pipeline import make_pipeline,Pipeline
from sklearn import set_config
from sklearn.tree import DecisionTreeRegressor

In [173]:
X_train.head(1)

     pclass     sex  age  sibsp  parch     fare embarked    who deck
140       3  female  NaN      0      2  15.2458        C  woman  NaN

In [174]:
# tran2=ColumnTransformer(transformers=[
#     ('si',SimpleImputer(),[2]),
#     ('sI',SimpleImputer(strategy='most_frequent'),[6,8])
#     ],remainder='passthrough')
# tran3=ColumnTransformer(transformers=[
#     ('oht',OneHotEncoder(sparse=False,dtype=np.int16,drop='first',handle_unknown='ignore'),[1,6,8]),
#     ('oe',OrdinalEncoder(categories=[['child', 'woman','man']],dtype=np.int16),[7])
#     ],remainder='passthrough')
# tran4=ColumnTransformer(transformers=[
#     ('ss',StandardScaler(),slice(None))
#     ],remainder='passthrough')
# tran5=DecisionTreeRegressor()

In [180]:
X_train.isnull().sum()

pclass        0
sex           0
age         141
sibsp         0
parch         0
fare          0
embarked      2
who           0
deck        550
dtype: int64

In [176]:
tran2=ColumnTransformer(transformers=[
    ('si',SimpleImputer(),[2]),
    ('sI',SimpleImputer(strategy='most_frequent'),[6,8])
    ],remainder='passthrough')

# Encoding (Exclude fare!)
tran3 = ColumnTransformer(transformers=[
    ('oht', OneHotEncoder(sparse=False, dtype=np.int16, drop='first', handle_unknown='ignore'), [1, 6,8]),  # Encode categorical
    ('oe', OrdinalEncoder(categories=[['child', 'woman', 'man']], dtype=np.int16), [7])  # Encode "who"
], remainder='passthrough')

# Scaling (Only for continuous)
tran4 = ColumnTransformer(transformers=[
    ('ss', StandardScaler(), [2, 6])  # Scale age & fare
], remainder='passthrough')

tran5 = DecisionTreeRegressor()

In [177]:
pipe = make_pipeline( tran3, tran4, tran5)

In [ ]:
pipe.fit(X_train, y_train)

In [163]:
pipe.score(X_train,y_train)

1.0

In [164]:
pipe.score(X_test,y_test)

-0.37037037037037024

<bound method Pipeline.get_feature_names_out of Pipeline(steps=[('columntransformer-1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('oht',
                                                  OneHotEncoder(drop='first',
                                                                dtype=<class 'numpy.int16'>,
                                                                handle_unknown='ignore',
                                                                sparse=False),
                                                  [1, 6, 8]),
                                                 ('oe',
                                                  OrdinalEncoder(categories=[['child',
                                                                              'woman',
                                                                              'man']],
                                                                 dtype=<class 'numpy.int16'>),
                                                  [7])])),
                ('columntransformer-2',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('ss', StandardScaler(),
                                                  [2, 6])])),
                ('decisiontreeregressor', DecisionTreeRegressor())])>