In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [3]:
df = pd.read_csv(r'C:\Users\tesla\OneDrive\Desktop\AI-Artificial-Inteligence-\ML practice\Feature Engineering\movies rating.csv')

In [4]:
df.head()

,Unnamed: 0,Rank,Movie,World Profit,Gross,National View,Foreign Profit,International View
0,0,1,NaN,"$1,698,863,816","$652,980,194",38.4%,"$1,045,883,622",61.6%
1,1,2,NaN,"$1,338,073,645","$636,745,858",47.6%,"$701,327,787",52.4%
2,2,3,NaN,"$1,026,899,678","$450,182,382",43.8%,"$576,717,296",56.2%
3,3,4,NaN,"$969,126,452","$361,004,205",37.3%,"$608,122,247",62.7%
4,4,5,Domestic,"$717,365,125","$468,982,125",65.4%,"$248,383,000",34.6%

In [8]:
data=[]

In [16]:
st =[  'Gross', 'Foreign Profit','World Profit']
flt=['International View', 'National View']

for i in st:
    df[i] = df[i].astype(str).str.replace(r'[$,]', '', regex=True) \
                            .str.replace('%', '', regex=True) \
                            .replace('-', 0) \
                            .astype(float)

In [27]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [24]:
df.replace(0,np.nan,inplace=True)

In [28]:
df.isnull().mean()

Rank                  0.000
Movie                 0.020
World Profit          0.000
Gross                 0.345
National View         0.345
Foreign Profit        0.020
International View    0.020
dtype: float64

In [30]:
X = df.drop(columns=['National View'])
y = df['National View']

In [31]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [32]:
X_train.shape, X_test.shape

((160, 6), (40, 6))