In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv(r'C:\Users\tesla\OneDrive\Desktop\AI-Artificial-Inteligence-\ML practice\Feature Engineering\movies rating.csv')
data=df

In [6]:
st =[  'Gross', 'Foreign Profit']
flt=['International View', 'National View']

for i in flt:
       data[i]=df[i].str.replace(r'[$,]', '', regex=True).str.replace('%', '', regex=True).replace('-', 0).astype(float)

In [12]:
data.drop(['Unnamed: 0','Movie','World Profit'],axis=1,inplace=True)

In [13]:
data

     Rank      Gross  National View  Foreign Profit  International View
0       1  652980194           38.4      1045883622                61.6
1       2  636745858           47.6       701327787                52.4
2       3  450182382           43.8       576717296                56.2
3       4  361004205           37.3       608122247                62.7
4       5  468982125           65.4       248383000                34.6
..    ...        ...            ...             ...                 ...
195   196          0            0.0         8467953               100.0
196   197          0            0.0         8165361               100.0
197   198          0            0.0         8108856               100.0
198   199    8093190          100.0               0                 0.0
199   200          0            0.0         8083338               100.0

[200 rows x 5 columns]

In [16]:
data.describe()

,Rank,Gross,National View,Foreign Profit,International View
count,200.000000,2.000000e+02,200.000000,2.000000e+02,200.000000
mean,100.500000,4.085433e+07,31.673000,5.749218e+07,68.326500
std,57.879185,9.511574e+07,31.972637,1.242885e+08,31.972487
min,1.000000,0.000000e+00,0.000000,0.000000e+00,0.000000
25%,50.750000,0.000000e+00,0.000000,9.601118e+06,45.825000
50%,100.500000,6.898654e+06,29.850000,1.685186e+07,70.150000
75%,150.250000,2.826580e+07,54.175000,4.009352e+07,100.000000
max,200.000000,6.529802e+08,100.000000,1.045884e+09,100.000000

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                200 non-null    int64
 1   Gross               200 non-null    int32
 2   National View       200 non-null    float64
 3   Foreign Profit      200 non-null    int32
 4   International View  200 non-null    float64
dtypes: float64(2), int32(2), int64(1)
memory usage: 6.4 KB