In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
titanic = sns.load_dataset("titanic")
data=titanic

In [4]:
data.dropna(axis=0,inplace=True)

In [14]:
data.head(1)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False

In [22]:
X=data.iloc[:,1:-3]
y=data.iloc[:,0:1]

In [23]:
y.sample(2)

     survived
262         0
806         0

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=0, shuffle=True)

In [28]:
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder,LabelEncoder,StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer,make_column_transformer
from sklearn.pipeline import make_pipeline,Pipeline
from sklearn import set_config

In [30]:
X_test.columns

Index(['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'class',
       'who', 'adult_male', 'deck'],
      dtype='object')

In [ ]:
transform=ColumnTransformer(transformers=[
    ('oht',OneHotEncoder(sparse=False,dtype=np.int16),[0,3]),
    ('oe',OrdinalEncoder(categories=[[ 'First', 'Second','Third'],[ 'child', 'woman','man']],dtype=np.int16),[4,5]),
    # ('le',LabelEncoder(),['alive']),
    ('ss',StandardScaler(),[0])
    ],remainder='passthrough')