In [1]:
import numpy as np # linear algebra
import pandas as pd

In [2]:
data = pd.read_csv('Life Expectancy Data (1).csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [4]:
data.drop(['Country','Status'],axis=1,inplace=True)

In [5]:
data.dropna(inplace=True)

In [6]:
dt=data

In [7]:
data['survive'] = (data['Life expectancy '] <= 75).astype(int)
data['survive'] = (data['Life expectancy '] > 75).astype(int)

In [ ]:
X=data.iloc[:,:-1]
y=data.iloc[:,-1:]

      survive
0           0
1           0
2           0
3           0
4           0
...       ...
2933        0
2934        0
2935        0
2936        0
2937        0

[1649 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [11]:
clf1 = LogisticRegression()
clf2 = DecisionTreeClassifier()

In [12]:
clf1.fit(X_train,y_train)
clf2.fit(X_train,y_train)

DecisionTreeClassifier()

In [13]:
y_pred1 = clf1.predict(X_test)
y_pred2 = clf2.predict(X_test)

In [14]:
from sklearn.metrics import accuracy_score,confusion_matrix
print("Accuracy of Logistic Regression",accuracy_score(y_test,y_pred1))
print("Accuracy of Decision Trees",accuracy_score(y_test,y_pred2))

Accuracy of Logistic Regression 0.8181818181818182
Accuracy of Decision Trees 1.0

In [15]:
# import seaborn as sns
# import matplotlib.pyplot as plt
# sns.pairplot(data)

In [16]:
confusion_matrix(y_test,y_pred1)

array([[237,   6],
       [ 54,  33]], dtype=int64)

In [17]:
print("Logistic Regression Confusion Matrix\n")
pd.DataFrame(confusion_matrix(y_test,y_pred1),columns=list(range(0,2)))

Logistic Regression Confusion Matrix

     0   1
0  237   6
1   54  33

In [18]:
print("Decision Tree Confusion Matrix\n")
pd.DataFrame(confusion_matrix(y_test,y_pred2),columns=list(range(0,2)))

Decision Tree Confusion Matrix

     0   1
0  243   0
1    0  87

In [19]:
result = pd.DataFrame()
result['Actual Label'] = y_test
result['Logistic Regression Prediction'] = y_pred1
result['Decision Tree Prediction'] = y_pred2

In [20]:
result.sample(10)

      Actual Label  Logistic Regression Prediction  Decision Tree Prediction
2141             0                               0                         0
2123             0                               0                         0
1680             0                               0                         0
674              1                               0                         1
862              0                               0                         0
2273             0                               0                         0
2132             1                               0                         1
2684             0                               0                         0
1032             1                               0                         1
855              0                               0                         0

### Precision recall and F1 Score

In [24]:
from sklearn.metrics import precision_score,f1_score,recall_score,classification_report

In [22]:
print("For Logistic regression Model")
print("-"*50)
cdf = pd.DataFrame(confusion_matrix(y_test,y_pred1),columns=list(range(0,2)))
print(cdf)
print("-"*50)
print("Precision - ",precision_score(y_test,y_pred1))
print("Recall - ",recall_score(y_test,y_pred1))
print("F1 score - ",f1_score(y_test,y_pred1))

For Logistic regression Model
--------------------------------------------------
     0   1
0  237   6
1   54  33
--------------------------------------------------
Precision -  0.8461538461538461
Recall -  0.3793103448275862
F1 score -  0.5238095238095238

In [23]:
print("For DT Model")
print("-"*50)
cdf = pd.DataFrame(confusion_matrix(y_test,y_pred2),columns=list(range(0,2)))
print(cdf)
print("-"*50)
print("Precision - ",precision_score(y_test,y_pred2))
print("Recall - ",recall_score(y_test,y_pred2))
print("F1 score - ",f1_score(y_test,y_pred2))

For DT Model
--------------------------------------------------
     0   1
0  243   0
1    0  87
--------------------------------------------------
Precision -  1.0
Recall -  1.0
F1 score -  1.0

In [26]:
print(classification_report(y_test,y_pred1))

              precision    recall  f1-score   support

           0       0.81      0.98      0.89       243
           1       0.85      0.38      0.52        87

    accuracy                           0.82       330
   macro avg       0.83      0.68      0.71       330
weighted avg       0.82      0.82      0.79       330